body {
    font-family: 
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Geneva, Tahoma, sans-serif;
    background-color: rgb(241, 234, 248);
    color: rgb(246, 246, 249);
    background-image:url("004.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#app-size {
    max-width: 500rem;
}

.app-container {
    margin: 0 auto;
    max-width: 80%;
    padding: 10px 30px;
    text-align: center;
}


button {
    background-color: rgb(241, 234, 248);
    padding: 5px 10px;
}

#save-el {
    font-weight: bold;
    background-color: rgba(51, 96, 81, 0.8);
    padding: 10px;

    width: 265px;
    margin: 10px auto;
}

